<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! I'm Chloe, a passionate creator and data scientist. When I'm not working improving my companies
        data landscape you'll find me working to improve the lives of my local LGBTQ+ community or in a local workshop
        creating something!</p>
      </div>
      <div class="col-lg-4">
        <p>Listed as an LGBT role model 2 years in a row I've worked with everyone from lower level workers up to senior
        leadership improving my company. These days you'll find me focusing on my Data Science career where I specialise in Autoamtion</p>
      </div>
     <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Key Skills:</p>
        <p>Power Automate &bull; Python &bull; M &bull; Excel</p>
      </div>
    </div>
  </div>
</section>
